<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body id="home_cont">

	<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#" id="logo_wrap"> <img src="images/homemade.jpg" alt="" id="logo"> </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">Statistics</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">History</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="/logout?access_token=<%=accessToken%>" id="logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

  <div class="wrap_inline">
	  <div class="card_div">
      <form class="validate-form add_form" id="login_form" action="/add" method="post">
        <span class="login100-form-title">
          Product details
        </span>

        <div class="wrap_field" data-validate = "Valid title is required e.x: Pastitsio">
          <input class="field" type="text" name="title" placeholder="Name" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap_field">
          <input class="field" type="text" name="description" placeholder="Description">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-file-text" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap_field">
          <input class="field" type="text" name="category" placeholder="Category of product" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="text" name="tags[]" placeholder="Tags">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="number" min="1" name="amount" placeholder="Amount" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="number" min="1" max="100" name="price" placeholder="Price in euros" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-euro" aria-hidden="true"></i>
          </span>
        </div>

				<input class="field" type="text" name="token" value="<%=accessToken%>" style="display:none">

        <div class="container-login100-form-btn">
          <button type="submit" class="butt_sub">
            Add product
          </button>
        </div>
      </form>
	  </div>
  </div>


<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
